SHOPIFY_WEBHOOK_SECRET=your_secret_here
MERCADOPAGO_ACCESS_TOKEN=APP_USR-your_access_token_here
NEXT_PUBLIC_BASE_URL=https://yanitrend.com
WHATSAPP_ACCESS_TOKEN=your_whatsapp_token_here
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id_here
WHATSAPP_VERIFY_TOKEN=yanitrend2026
RESEND_API_KEY=your_resend_key_here
